@model Storage.DTO.Books.BookDTO

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h1>Edit</h1>

    <h4>Book</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" id="form" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ISBN" class="control-label"></label>
                    <input asp-for="ISBN" class="form-control" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pages" class="control-label"></label>
                    <input asp-for="Pages" class="form-control" />
                    <span asp-validation-for="Pages" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublishDate" class="control-label"></label>
                    <input asp-for="PublishDate" class="form-control" />
                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Summary" class="control-label"></label>
                    <input asp-for="Summary" class="form-control" />
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                <img src="data:image/jpg;base64, @Convert.ToBase64String(Model.Picture ?? new byte[0])" />

                <input asp-for="Picture" type="file" id="c__picture" placeholder="Vælg billede"/>

                <div class="form-group">
                    <input type="submit" onclick="uploadPicture(@Model.Id)" value="Save" class="btn btn-primary" />
                </div>
                <div>
                    @foreach (var comment in Model.Comments)
                    {
                        <div>
                            @comment.Email
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>


<script>
    $("#form").submit(function () {
        uploadPicture(@Model.Id)
    })
    
    function getInputValue(id) {
        return document.getElementById(id).value
    }
</script>